.pluggedTT {
    position: sticky;
    z-index: 10;
    bottom: 3em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.1);
    color: #eee;
    right: 20.5em;

}

.hidden {
    display: none;
}

.miniplayer .pluggedTT {
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    right: 1em;
}
.pluggedTT .muteButton {
    cursor: pointer;
}

.pluggedTT input {
    padding: 0.1em;
}

.ttauto {
    
}

.ttautohdr {
 background-color: #deb41f;
    background-image: -moz-linear-gradient(top,#e3bf23,#d7a31a);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#e3bf23),to(#d7a31a));
    background-image: -webkit-linear-gradient(top,#e3bf23,#d7a31a);
    background-image: -o-linear-gradient(top,#e3bf23,#d7a31a);
    background-image: linear-gradient(to bottom,#e3bf23,#d7a31a);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe3bf23',endColorstr='#ffd7a31a',GradientType=0);
    color: #fff;
    text-shadow: 0 1px 1px #644606;   
}
